@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  margin: 0;
  line-height: 1.7;
  color: #000080;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}

/* -------------- Common -------------- */
.space {
  height: 40px;
}
.section_title_center {
  text-align: center;
  padding: 20px 0;
}
.section_title_center h4 {
  color: #FF1493;
  margin: 0 auto;
  font-size: 8px;
}
.section_title_center h2 {
  margin: 0;
  width: 100%;
  color: #696969;
  text-decoration:;
  font-size: 18px;
}
.section_title_left {
  text-align: left;
  margin-bottom: 20px;
}
.section_title_left h4 {
  color: #FF1493;
  margin: 0 auto;
  font-size: 8px;
}
.section_title_left h2 {
  margin: 0;
  width: 100%;
  color: #696969;
  text-decoration:;
  font-size: 18px;
}

/* -------------- Home header -------------- */
.home_header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0 2%;
}
.logo {
  width: 100px;
  margin-top: 14px;
}
.home_menu {
  display: flex;
  margin-top: 20px;
  list-style: none;
}
.home_menu li {
  margin-left: 20px;
}
.home_menu a {
  color: #A9A9A9;
}
.home_menu a:hover {
  color: #FFE4E1;
}
/* -------------- Firstview -------------- */
.firstview {
  position: relative;
}
.firstview img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}
.en_text {
  position: absolute;
  top: 20%;
  left: 20%;
  color: #FF1493;
  font-size: 40px;
}
.en_text .growth {
  color: #48D1CC;
  font-size: 28px;
}
.jp_text {
  position: absolute;
  top: 65%;
  left: 20%;
  color: #FF1493;
  font-size: 16px; 
}
.jp_text .growth {
  color: #48D1CC;
  font-size: 16px;
}
.since {
  position: absolute;
  top: 70%;
  left: 20%;
  color: #808080;
  font-size: 8px;
}

/* -------------- Title -------------- */
.section_title_news {
  text-align: left;
}
.section_title_news h4 {
  color: #FF1493;
  margin: 0 auto;
  width: 50%;
  font-size: 8px;
}
.section_title_news h2 {
  color: #808080;
  margin: 0 auto;
  width: 50%;
}
hr {
  margin: 15px auto;
  width: 50%;
}
.news_list {
  list-style: none outside;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 50%;
}
.news_list .item a{
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #808080;
  border-bottom: 1px solid #DCDCDC;
  padding: 10px 10px;
}
.news_list .item .date{
  margin: 0;
  min-width: 100px;
  font-size: 12px;
  color: #808080;
  padding: 0 20px 0 0;
}
.news_list .item .category{
  margin: 0;
  min-width: 100px;
  padding: 0 20px 0 0;
}
.news_list .item .category span{
  background: #FF1493;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  border-radius: 100vh;
}
.news_list .item .title{
  margin: 0;
  width: 100%;
  color: #808080;
  font-size: 12px;
}

/* -------------- About -------------- */
.about {
  background-color: #DCDCDC;
}
.about .flex {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.about_text {
  width: 300px;
  flex-wrap: wrap;
  color: #808080;
  font-size: 12px;
}
.item_image {
  width: 300px;
}
.flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------- Service -------------- */
.service {
  margin: 0 auto;
  width: 55%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  margin: 0 auto;
}
.item1 {
  background-color: #C71585;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 20px;
}
.item1 .service_img {
  display: block;
  width: 30%;
  margin: 20px auto 0 auto;
}
.item1 h2 {
  color: #FFF;
  text-align: center;
  margin-top: 5px;
}
.item1 p {
  margin: 10px 30px;
  font-size: 12px;
  color: #fff;
  text-align: left;
}
.item2 {
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #DB7093;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px;
}
.container {
  padding: 0 15px;
}
.item2 .service_img {
  display: block;
  width: 30%;
}
.item2 h2 {
  color: #FFF;
  text-align: left;
}
.item2 p {
  font-size: 12px;
  color: #fff;
  text-align: left;
}
.item3 {
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #FFC0CB;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 20px;
}
.item3 .service_img {
  display: block;
  width: 30%;
}
.item3 h2 {
  color: #FFF;
  text-align: left;
}
.item3 p {
  font-size: 12px;
  color: #fff;
  text-align: left;
}

/* -------------- Blog -------------- */
.blog {
  background-color: #DCDCDC;
}
.blog .container {
  margin: 0 auto;
  width: 55%;
}
.blog .flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.card {
  width: 30%;
  cursor: pointer;
}
.content_image {
  height: 60%;
  line-height:0;
}
.content_image img {
  border-radius: 15px 15px 0 0 ;
}
.text_box  {
  padding: 15px;
  font-size: 12px;
  height: 35%;
  color: #696969;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
.text_box .date_box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0;
}
.section_btn {
  display: flex;
  justify-content: center;
  border-radius: 100vh;
  max-width: 180px;
  border: 2px solid #C71585;
  margin: 0 auto;
  background: #fff;
}
.blog_btn {
  color: #C71585;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

/* -------------- Company -------------- */
.company {
  margin: 0 auto;
  width: 45%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}
table th, table td {
  border: 1px solid #ccc;
  color: #696969;
  font-size: 12px;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
  color: #696969;
  text-align: left;
}

/* -------------- Career -------------- */
.career {
  display: flex;
}
.recruit {
  position: relative;
  width: 50%;
}
.interview {
  position: relative;
  width: 50%;
}
.recruit p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.interview p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

/* -------------- Contact -------------- */
.contact {
  margin: 0 auto;
}
.contact h2 {
  text-align: center;
  color: #696969;
  font-size: 16px;
}
.contact .v_line {
  margin: 10px auto;
  width: 2px;
  height: 30px;
  background-color: #C71585;
}
.contact_btn {
  padding: 10px 40px 10px 0;
  margin: 0 auto;
  display: inline-block;
  color: #fff !important;
  background: #FF4F6F;
  text-decoration: none;
  text-align:center;
  text-decoration:none !important;
  box-shadow: 0 7px #8f324a;
  background: linear-gradient(to right, #FF4F6F 35%, #8f324a);

}
a.contact_btn:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 20px;
  background: url("../images/mailicon.svg");
  background-size: contain;
  vertical-align: middle;
}
.contact_btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

a.btn {
  font-size: 12px;
  display: block;
  max-width: 150px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #212529;
  border-radius: 30px;
}

/* -------------- Footer -------------- */
footer {
  background: #DCDCDC;
  text-align: center;
  padding: 16px 0;
}
footer p {
  color: #696969;
  font-size: 12px;
}

